* {
    box-sizing: border-box;
}

body {
    max-width: 1800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #303452;
    margin: 0 auto;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    padding-left: 20px;
    padding-right: 20px;

    



    header {
        max-width: 100%;
        margin-bottom: 100px;

        h1 {

            font-size: 100px;
            font-weight: 400;
            text-align: center;
            margin-bottom: 50px;
            padding-top: 50px;
            color: #fff;
        }

        p {
            font-size: 40px;
            font-weight: 100;
            text-align: center;
            color: #fff;
        }
    }


    swiper-container {
        max-width: 100vh;
        height: 500px;
        margin-bottom: 100px;
        background-color: 

    }




    swiper-slide {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    swiper-slide img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }



}

@media (max-width: 750px) {
    swiper-container {
        display: none;
    }

   

    h1 {
        font-size: 10px;
        font-weight: 100;
        margin-bottom: 5px;
    }

    p {
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 5px;
    }
}